body {
    background-image: url("/static/images/forest.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#verse-container {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: Georgia, serif;
}

#verse-text {
    font-size: 18px;
    margin-top: 20px;
}

#get-verse-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}